<!DOCTYPE html>
<html lang="en">
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

<style>
    #brand-image{
        height: 80px;
        padding-right: 50px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    h1 {
        font-family: "Abel", Arial, sans-serif;
        font-weight: 400;
        font-size: 40px;
    }
    /* Override B3 .panel adding a subtly transparent background */
    .panel {
        background-color: rgba(255, 255, 255, 0.9);
    }
    footer {
        position: relative;
        left: 0;
        bottom: 0;
        height: 600px;
        width: 100%;
        background-color: white;
        z-index: 100;
    }
    #metabtn {
        margin-top: 28px;
        margin-bottom: 0px;
    }
    .modal-body {
        background-color: transparent;
    }
    #navadjust {
        margin-top: 23px;
        margin-bottom: 0px;
    }
    body { background: #f8f8f8 !important;}
</style>


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CMS Energy</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href="boostrap/css/custom.css" rel="stylesheet">

  <!-- Static navbar -->

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brandz">
          <img id ="brand-image" alt="cms logo" src="http://i1066.photobucket.com/albums/u418/austinringer/cmslogo_zpsebbm2foe.gif" />
        </a>
      </div>


      <ul class="nav navbar-nav" id="navadjust">

          <li class="active"><a href="#">
            <h4><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
              Dashboard</h4></a>

          </li>



      </ul>

      <ul class="nav navbar-nav navbar-right">
          <button type="button" class="btn btn-primary btn-lg" id="metabtn"data-toggle="modal" data-target=".bs-example-modal-lg">
            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            Add Metadata
          </button>
      </ul>
    </div>
  </div>




</head>

<body>
<br><br><br>

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/vendor/jquery-1.9.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</div>



<!-- Modal -->
<!-- Large modal -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Upload a File and Attach Metadata</h2>
      </div>
      <div class="modal-body">
        <form action='/form-upload'
              class='dropzone'
              id='my-awesome-dropzone'>
        </form>

        <div class="container">
          <h3>Metadata</h3>
          <p>Enter a Key and Value below to add new metadata fields</p>
          <form class="form-inline" role="form">
            <div class="form-group">
              <label for="email">Field</label>
              <input type="email" class="form-control" id="email" placeholder="New Metadata Field">
            </div>
            <div class="form-group">
              <label for="sel1">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Select List:</label>
              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
            <br>
            <br>
            <div class="form-group">
              <label for="email">Field</label>
              <input type="email" class="form-control" id="email" placeholder="New Metadata Field">
            </div>
            <div class="form-group">
              <label for="pwd">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Value</label>
              <input type="password" class="form-control" id="pwd" placeholder="Enter a value">
            </div>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" type="submit">Save</button>

      </div>
    </div>
  </div>
</div>




</body>




</html>