<!DOCTYPE html>
<html lang="en">


<style>
    #brand-image{
        height: 50px;
        padding-right: 50px;
        margin-top: 5px;
    }
    h1 {
        font-family: "Abel", Arial, sans-serif;
        font-weight: 400;
        font-size: 40px;
    }
    /* Override B3 .panel adding a subtly transparent background */
    .panel {
        background-color: rgba(255, 255, 255, 0.9);
    }
    footer {
        position: relative;
        left: 0;
        bottom: 0;
        height: 600px;
        width: 100%;
        background-color: white;
        z-index: 100;
    }

    #metabtn {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .panel {
        margin-top: 70px;
        z-index: 100;
    }

    body { background: #f8f8f8 !important;}



</style>


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Bootstrap contact form with PHP example by BootstrapBay.com.">
  <meta name="author" content="BootstrapBay.com">
  <title>Blue Media</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href="boostrap/css/custom.css" rel="stylesheet">

  <!-- Static navbar -->

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brandz">
          <img id ="brand-image" alt="whale logo" src="http://i1066.photobucket.com/albums/u418/austinringer/cmslogo_zpsebbm2foe.gif" />
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <button type="button" class="btn btn-primary btn-lg" id="metabtn"data-toggle="modal" data-target="#myModal">
          Add Metadata
        </button>
      </ul>
    </div>
  </div>
</head>

<body>
<br><br><br>
<div id="dot-matrix"></div>

<div id="img_container" class="indexColor">

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 panel panel-default">
        <h1 class="page-header text-center">Create Metadata Tags</h1>
        <form class="form-horizontal" role="form" method="post" action="/submit">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
            </div>
          </div>
          <div class="form-group">
            <label for="company" class="col-sm-2 control-label">Company</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="company" name="company" placeholder="Where do you work?" value="">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
            </div>
          </div>
          <div class="form-group">
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <input id="submit" name="submit" type="submit" value="Bleep Bloop" class="btn btn-success">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/vendor/jquery-1.9.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</body>




</html>